/*block of the news*/
.news {
    align-content: center;
    margin: 20px;
    margin-top: 30px;
}
.new_one{
    background-color: lavender;
    padding: 10px;
}
.link_news{
    font-size: small;
    right: auto;
}
/*navbar*/
.entered_user{
    position: absolute;
    top: 15px;
    vertical-align: middle;
}
/*top of the car*/
.main_section{
    padding-top: 5px;
    background-color: yellowgreen;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.foot{
    box-shadow: 0 -5px 10px rgba(0,0,0,0.5);
}
.item{
    margin-top: 50px;
}

.top_car{
    padding: 10px;
}
.top_car span{
    color: black;
    text-align: right;
    font-size: small;
}
.top_car img{
    align-content: center;
    width: 400px;
    height: 230px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.top_car tspan{
    color: red;
    font-size: x-large;
}

/*page of car*/
.list_of_car{
    margin: 20px;
}
.list_of_car img{
    width: 200px;
    height: 127px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*table of cars*/
.cars_price{
    font-size: x-large;
    color: red;
}
.cars_price a{
    font-size: small;
    color: red;
}
.cars_img{
    width: 205px;
}
.cars_img img{
    width: 200px;
}
.cars_table p{
    color: darkgray;
}

/*car*/
.common_car{
    text-align: center;
    padding: 20px;
}
.main_car{
    background-color: yellowgreen;
    padding-left: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.main_car img{
    width: 90%;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.descr_car{
    text-align: left;
}
.descr_car tspan{
    font-size: medium;
    color: dimgray;
}
.photos_car{
    padding-left: 20px;
    height: auto;
    background-color: yellowgreen;
    box-shadow: 5px -5px 10px rgba(0,0,0,0.5);
}
.photos_car img{
    width: 30%;
    height: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.price_car span{
    font-size: xx-large;
    color: red;
}

.common_car span{
    font-size: xx-large;
    color: red;
}

/*basket*/
.basketTable img{
    width: 200px;
    height: 127px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}