/*block of the news*/
.news {
    align-content: center;
    margin: 20px;
    margin-top: 30px;
}
.new_one{
    background-color: lavender;
    padding: 10px;
}
.link_news{
    font-size: small;
    right: auto;
}
/*navbar*/
.entered_user{
    position: absolute;
    top: 15px;
    vertical-align: middle;
}
/*top of the car*/
.main_section{
    background-color: lavender;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.head_block{
    background-color: yellowgreen;
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
/*.row_section{*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
/*}*/
.foot{
    box-shadow: 0 -5px 10px rgba(0,0,0,0.5);
}
.item{
    margin-top: 50px;
}

.top_car{
    width: 380px;
    padding: 10px;
    margin: 5px;
}
.top_car span{
    color: black;
    text-align: right;
    font-size: small;
}
.top_car img{
    align-content: center;
    width: 380px;
    height: 207px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.top_car tspan{
    color: red;
    font-size: x-large;
}

/*page of car*/
.list_of_car{
    /*margin: 20px;*/
}
.list_of_car img{
    width: 200px;
    height: 127px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*table of cars*/
.cars_price{
    font-size: x-large;
    color: red;
}
.cars_price a{
    font-size: small;
    color: red;
}
.cars_img{
    width: 205px;
}
.cars_img img{
    width: 200px;
}
.cars_table p{
    color: darkgray;
}

/*car*/
.common_car{
    text-align: center;
    padding: 20px;
}
.main_car{
    background-color: yellowgreen;
    padding-left: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.main_car img{
    width: 90%;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.descr_car{
    text-align: left;
}
.descr_car tspan{
    font-size: medium;
    color: dimgray;
}
.photos_car{
    padding-left: 20px;
    height: auto;
    background-color: yellowgreen;
    box-shadow: 5px -5px 10px rgba(0,0,0,0.5);
}
.photos_car img{
    width: 30%;
    height: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.price_car span{
    font-size: xx-large;
    color: red;
}

.common_car span{
    font-size: xx-large;
    color: red;
}

/*basket*/
.basketTable img{
    width: 200px;
    height: 127px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*filter*/
.filter{
    padding: 15px;
    background-color: yellowgreen;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.filter h3{
    text-align: center;
}

/*admin*/
.admin-log-field{

    width: 100%;
    height: 60%;
}
.form-admin{
    position: relative;
    margin: auto;
    margin-top: 10%;
    padding: 25px;
    border: solid 1px darkgreen;
    background-color: yellowgreen;
    width: 380px;
    height: 200px;
    align-content: center;
    vertical-align: middle;
}
.new-user{
    text-align: center;
    position: relative;
    margin: 20px auto;
}
.cars_img_admin img{
    width: 100px;
}
.car-del-btn a{
    color: white;
}
.bold_td{
    font-size: large;
    font-style: italic;
}
.red_td{
    font-size: x-large;
    color: red;
}
.green_td{
    font-size: x-large;
    color: forestgreen;
}
.comparison_img {
    width: 200px;
}